streamlit
Pillow
torch==2.0
torchvision==0.15
opencv-python
matplotlib
plotly
# Detectron2 CPU wheel for Torch 2.0
detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch2.0/index.html
