streamlit
Pillow
torch==2.4.1
torchvision==0.19.1
opencv-python
matplotlib
plotly
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch2.0/index.html
git+https://github.com/facebookresearch/detectron2.git
